<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <title>Index Page</title>
    <body>
        Hello to the main Page
        <form action="/", method="POST">
            {% for i in range(0,users) %}
                <b><p>User {{ i+1 }} :<br></p></b>
                <div> 
                    <select class="form-control" name="timezones" size=7>
                        {% for timezone in  timezones %}
                            <option value={{ timezone }}>{{ timezone }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                        {% for j in range(0,timeslots) %}
                            Timeslot {{ j+1 }} : 
                            <span>
                            <input type="text" name="date" id="date" placeholder="YYYY/MM/DD">
                            </span> 
                            <span>
                            <input type="text" name="date" id="date" placeholder="HH:MM">
                            </span> 
                            <br>
                        {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>